<head>
	<meta charset="utf-8">
	<meta name="viewport" contents="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>chat app meteor</title>
</head>

<body>
<!--
 the nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable">
	<ion-nav-back-button>
	</ion-nav-back-button>
</ion-nav-bar>
<!--

  The views will be rendered in the <ion-nav-view> directive below

  Templates are in the /templates folder (but you could also

  have templates inline in this html file if you'd like).

-->
<ion-nav-view></ion-nav-view>
</body>
